<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ehr.flowes">
    <select id="selAlllinks"   resultType="ehrLink">
        select * from ehrLink;
    </select>
    <select id="selUrl" resultType="String" parameterType="String">
        select url from ehrLink where describtion=#{0}
    </select>
    <select id="selBody" resultType="String" parameterType="String">
        select body from ehrLink where describtion=#{0}
    </select>
    <select id="selvalue" parameterType="String" resultType="String">
        select evalue from ehrutil  where describtion=#{0}
    </select>
    <insert id="InDate" parameterType="String">
        insert  into ehrcalendar(id,edate) values (default,#{0})
    </insert>
    <select id="selDayMessage" parameterType="String" resultType="ehrcalendar">
        select * from ehrcalendar where edate=#{0}
    </select>
</mapper>